<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.axlav.lemmios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lemmiosapp</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CommunityIntentIntent</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Requires sending auth token (revoked on password change) to Lemmios servers</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>envelope.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Inbox</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Inbox</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Search</string>
		</dict>
	</array>
</dict>
</plist>
